<mat-card *ngIf="searchFor$ | async as searchFor" class="search-for">
  <mat-card-content>
    Search for: <span class="highlighted">{{searchFor}}</span>
  </mat-card-content>
</mat-card>

<div fxLayout fxLayoutAlign="start center">
  <button mat-mini-fab matTooltip="Toggle all categories" *ngIf="(categories$ | async)!.length"
    (click)="toggleAll()"
    type="button">
    <mat-icon>{{areAllClosed() ? 'border_outer' : 'border_horizontal'}}</mat-icon>
  </button>

  <span fxFlex></span>

  <app-add-category-form *ngIf="isCorrectPhrase$ | async" (add)="addCategory($event)"></app-add-category-form>
</div>

<div class="categories">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let c of categories$ | async; trackBy: trackCategoriesBy" #panel>
      <mat-expansion-panel-header>
        <app-category
          [category]="c"
          [isExpanded]="panel.expanded"
          [searchFor]="searchFor$ | async"
          (update)="updateCategory($event)"
          (remove)="removeCategory($event)"
          (addItem)="addItem($event)"
        >
        </app-category>
      </mat-expansion-panel-header>

      <div class="category-items">
        <table class="resp-table">
          <tr>
            <th>Name</th>
            <th>Account</th>
            <th>Username</th>
            <th>Password</th>
            <th>Blob</th>
            <th>&nbsp;</th>
          </tr>
          <tr *ngFor="let item of c.items"
            app-item
            [item]="item"
            [searchFor]="searchFor$ | async"
            (updateItem)="updateItem($event)"
            (removeItem)="removeItem($event)"
          >
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div>
  <table class="resp-table">
    <tr *ngFor="let item of itemsWithoutCategory$ | async"
      app-item
      [item]="item"
      (updateItem)="updateItem($event)"
      (removeItem)="removeItem($event)"
    >
    </tr>
  </table>
</div>
