<div class="wrap-search-for-desk">
  <mat-card *ngIf="searchFor$ | async as searchFor" class="search-for-desk" fxShow="false" fxShow.gt-xs="true">
    <mat-card-content>
      Search for: <span class="highlighted">{{searchFor}}</span>
    </mat-card-content>
  </mat-card>
</div>

<div class="expandables">
  <button
    *ngIf="(categories$ | async)!.length"
    mat-icon-button mat-mini-icon-button
    matTooltip="Toggle all categories"
    class="btn-expand-all"
    (click)="toggleAll()"
    type="button">
    <mat-icon>{{areAllClosed() ? 'border_outer' : 'border_horizontal'}}</mat-icon>
  </button>

  <app-expandable-input
    [isAbsolute]="true"
    [slideToEdge]="true"
    right="40"
    group="g1"
    fxShow="false"
    fxShow.xs="true"
  >
    <input matInput expInput type="text" placeholder="Search" [formControl]="searchForControl">

    <button expIconOpen mat-icon-button mat-mini-icon-button>
      <mat-icon matRipple>search</mat-icon>
    </button>
  </app-expandable-input>

  <app-add-category-form (add)="addCategory($event)"></app-add-category-form>
</div>

<div class="categories">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let c of categories$ | async; trackBy: trackCategoriesBy" #panel>
      <mat-expansion-panel-header>
        <app-category
          [category]="c"
          [isExpanded]="panel.expanded"
          [searchFor]="searchFor$ | async"
          (update)="updateCategory($event)"
          (remove)="removeCategory($event)"
          (addItem)="addItem($event)"
        >
        </app-category>
      </mat-expansion-panel-header>

      <div class="category-items">
        <table class="resp-table">
          <tr>
            <th>Name</th>
            <th>Account</th>
            <th>Username</th>
            <th>Password</th>
            <th>Blob</th>
            <th>&nbsp;</th>
          </tr>
          <tr *ngFor="let item of c.items"
            app-item
            [item]="item"
            [searchFor]="searchFor$ | async"
            (updateItem)="updateItem($event)"
            (removeItem)="removeItem($event)"
          >
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div>
  <table class="resp-table">
    <tr *ngFor="let item of itemsWithoutCategory$ | async"
      app-item
      [item]="item"
      (updateItem)="updateItem($event)"
      (removeItem)="removeItem($event)"
    >
    </tr>
  </table>
</div>
