<form novalidate [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
  <mat-form-field>
    <input matInput 
      formControlName="category"
      placeholder="New group"
      (keyup.escape)="clear()"
      autocomplete="off"
      type="text"
      [autofocus]="false"
      focusOnKey="n"
      #category>
  </mat-form-field>
  
  <button mat-raised-button
    matTooltip="Add new category"
    type="submit"
    [disabled]="!category.value.length"
    color="accent">
    <mat-icon>add</mat-icon>
  </button>
</form>
