<form novalidate [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
  <mat-expandable-input
    group="g1"
    [isAbsolute]="true"
  >
    <input matExpInput
      matInput 
      formControlName="category"
      placeholder="New group"
      (keyup.escape)="clear()"
      autocomplete="off"
      type="text"
      [autofocus]="false"
      focusOnKey="n"
      #category>

    <button matExpIconOpen mat-mini-fab
      matTooltip="Add new category"
      type="button"
      color="accent"
    >
      <mat-icon matRipple>add</mat-icon>
    </button>

    <button matExpIconAction mat-mini-fab
      type="submit"
      [disabled]="!category.value.length"
      color="accent"
    >
      <mat-icon matRipple>add</mat-icon>
    </button>
  </mat-expandable-input>
</form>
