<md-toolbar color="primary">
  <div
    fxFlexFill fxLayout="row"
    fxLayoutAlign="space-between center">
    <span fxHide.xs>
      Open Pass Phrase<br>
      <font size="-1">{{version}}</font>
    </span>

    <md-input-container *ngIf="loggedIn | async" dividerColor="accent" fxFlex="265px" fxFlex.xs>
      <input mdInput [formControl]="secretPhrase" autocomplete="off" type="password" placeholder="secret phrase to decrypt data" #secretInput>
      <md-hint *ngIf="secretPhrase.dirty && !secretPhrase.valid">Must be at least 6 chars</md-hint>
    </md-input-container>

    <button md-button color="accent" *ngIf="loggedIn | async" (click)="signOut()">Sign out</button>
  </div>
</md-toolbar>