:host /deep/ mat-toolbar-row {
  height: 80px;
}

mat-form-field /deep/ {
  label {
    color: #ffd740;
  }
  .mat-input-underline {
    border-color: #ffd740 !important;
  }
  mat-hint {
    color: #f44336;
  }
}
