:host ::ng-deep mat-toolbar-row {
  height: 80px;
}

mat-form-field ::ng-deep {
  label {
    color: #ffd740;
  }
  .mat-input-underline {
    border-color: #ffd740 !important;
  }
  mat-hint {
    color: #f44336;
  }
}

.title {
  line-height: 1em;
}
