.install-img {
  width: 25px;
  vertical-align: middle;
}

li {
  line-height: 28px;
}

button {
  float: right;
}

.header {
  margin: -15px -24px 0 -24px;
  padding: 15px 24px;
  background-color: #673ab7;
}
