<div class="loading-overlay" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="flex justify-center mt-4 sm:mt-12">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>

      <mat-card-subtitle>
        Don't forget to sign out when done!
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form novalidate [formGroup]="authForm" (ngSubmit)="login()">
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field>
            <input
              matInput
              formControlName="username"
              placeholder="User name"
              required
              type="text"
              [autocomplete]="userNameAutocompleteState"
              autofocus
              autocapitalize="none"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              formControlName="password"
              placeholder="Password"
              required
              type="password"
              autocomplete="off"
              autocapitalize="none"
            />
          </mat-form-field>
        </div>

        <br />

        <div *ngIf="showTokenExp">
          <mat-card-subtitle>
            How soon should your session expire?
          </mat-card-subtitle>

          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field>
              <input
                matInput
                formControlName="exp_delta_amount"
                placeholder="Type in amount"
                type="number"
              />
            </mat-form-field>

            <mat-form-field>
              <mat-select
                name="items"
                formControlName="exp_delta_multiplier"
                placeholder="Select interval"
              >
                <mat-option
                  *ngFor="let opt of deltaMultiplierOpts"
                  value="{{ opt.val }}"
                  >{{ opt.text }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="authForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
