<div>
  <mat-form-field dividerColor="accent" class="w-full">
    <mat-label>Secret phrase</mat-label>

    <input
      matInput
      [formControl]="secretPhrase"
      autocomplete="off"
      type="password"
      autofocus
      (keyup.enter)="submit()"
      autocapitalize="none"
    />

    <mat-hint>used to decrypt data</mat-hint>

    <mat-error *ngxError="'required'">Input is required</mat-error>
    <mat-error *ngxError="'minlength'">Must be at least 6 chars</mat-error>
  </mat-form-field>
</div>

<div class="mt-2">
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="secretPhrase.invalid"
  >
    Submit
  </button>
</div>
