<div>
  <mat-form-field dividerColor="accent" class="w-100">
    <input
      matInput
      [formControl]="secretPhrase"
      autocomplete="off"
      type="password"
      placeholder="secret phrase to decrypt data"
      autofocus
      (keyup.enter)="submit()"
      autocapitalize="none"
    />

    <mat-hint *ngIf="secretPhrase.dirty && !secretPhrase.valid">
      Must be at least 6 chars
    </mat-hint>
  </mat-form-field>
</div>

<div class="mt-1">
  <button
    mat-raised-button
    (click)="submit()"
    [disabled]="secretPhrase.invalid"
  >
    Submit
  </button>
</div>
