form {
  mat-checkbox {
    white-space: nowrap;
  }

  .input-height ::ng-deep {
    .mat-checkbox-layout {
      padding: 16px 0 27px;
    }
  }

  h5 {
    margin-top: 0;
    padding-bottom: 12px;
  }
}
