<h1>Add new item</h1>
<form novalidate [formGroup]="saveItemForm" (ngSubmit)="saveItem()" fxLayout="column" fxLayoutGap="10px">
  <div>
    <md-input-container>
      <input mdInput 
        formControlName="name"
        placeholder="Name"
        required
        autocomplete="off"
        type="text"
        focused>
      <md-hint [val-messages]="saveItemForm.get('name')">
        <span val-message="required">Required</span>
      </md-hint>
    </md-input-container>

    <md-input-container>
      <input mdInput 
        formControlName="url"
        placeholder="URL"
        autocomplete="off"
        type="url">
      <md-hint [val-messages]="saveItemForm.get('url')">
        <span val-message="url">Not a valid URL</span>
      </md-hint>
    </md-input-container>

    <md-input-container>
      <input mdInput 
        formControlName="account"
        placeholder="Account"
        autocomplete="off"
        type="text">
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput 
        formControlName="username"
        placeholder="Username"
        autocomplete="off"
        type="text">
    </md-input-container>

    <md-input-container>
      <input mdInput 
        formControlName="password"
        placeholder="Password"
        autocomplete="off"
        type="text">
    </md-input-container>
  </div>

  <div fxLayout>
    <md-input-container fxFlex>
      <textarea mdInput 
        formControlName="blob"
        placeholder="Blob"
        autocomplete="off"
        type="text">
      </textarea>
    </md-input-container>
  </div>

  <div fxLayout fxLayoutGap="10px">
    <span fxFlex></span>

    <button md-raised-button type="submit" [disabled]="!saveItemForm.valid" color="accent">
      Save
    </button>

    <button md-button type="button" (click)="dialogRef.close()">
      Cancel
    </button>
  </div>

</form>
