<h1 mat-dialog-title>{{ action }}</h1>

<mat-dialog-content>
  <form novalidate [formGroup]="saveItemForm" (ngSubmit)="saveItem()">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <mat-form-field>
        <mat-label>Name</mat-label>

        <input
          matInput
          formControlName="name"
          required
          autocomplete="off"
          type="text"
          focused
        />

        <mat-error *ngxError="'required'">Required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>URL</mat-label>

        <input matInput formControlName="url" autocomplete="off" type="url" />

        <mat-error *ngxError="'url'">Not a valid URL</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Account</mat-label>

        <input
          matInput
          formControlName="account"
          autocomplete="off"
          type="text"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Username</mat-label>

        <input
          matInput
          formControlName="username"
          autocomplete="off"
          type="text"
        />
      </mat-form-field>

      <mat-checkbox [formControl]="autoGenPassword" class="input-height">
        Auto-generate password
      </mat-checkbox>

      <ng-container *ngIf="!autoGenPassword.value">
        <mat-form-field>
          <mat-label>Password</mat-label>

          <input
            matInput
            formControlName="password"
            autocomplete="off"
            type="text"
          />
        </mat-form-field>
      </ng-container>
    </div>

    <mat-card
      *ngIf="autoGenPassword.value"
      [formGroup]="genopts"
      class="pw-autogen"
    >
      <h5 mat-dialog-title>Password generation options:</h5>

      <mat-dialog-content>
        <mat-form-field>
          <mat-label>Number of characters </mat-label>

          <mat-select formControlName="numChars">
            <mat-option
              *ngFor="let num of [8, 10, 12, 14, 16, 18, 20]"
              [value]="num"
            >
              {{ num }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-dialog-content>
    </mat-card>

    <mat-form-field class="w-full">
      <mat-label>Blob</mat-label>

      <textarea matInput formControlName="blob" autocomplete="off" type="text">
      </textarea>
    </mat-form-field>

    <div class="flex gap-4 justify-end">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!saveItemForm.valid"
        color="accent"
      >
        Save
      </button>

      <button mat-button type="button" (click)="dialogRef.close()">
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
