@use '@angular/material' as mat;
@import '@angular/material/_theming';

:host {
  padding: 10px 0;
}

.ml-10 {
  margin-left: -10px;
}

.shadow-wrapper {
  overflow: hidden;
}

.shadow {
  border-radius: 4px;
  @include mat.elevation(2);
  @include mat.elevation-transition;
}

.category-name {
  padding: 0 10px;
  cursor: pointer;
}

.category-items {
  padding: 0 10px;
  
  .items-header {
    font-weight: bold;
    padding-bottom: 10px;
  }
}

mat-form-field {
  // hide errors container since we don't display any errors for this input.
  // this improves vertical alignment with buttons next to input
  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
