<div fxLayout fxLayoutAlign="start center">
  <div *ngIf="!isInEditMode" fxLayout>
    <span class="category-name">
      {{category.name}}
    </span>

    <div *ngIf="isExpanded" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
      <button md-mini-fab md-tooltip="Edit category name"
        (click)="toggleEditCategory($event)"
        type="button">
        <md-icon>edit</md-icon>
      </button>

      <button md-mini-fab md-tooltip="Delete category"
        (click)="promptDelete($event)"
        type="button">
        <md-icon>delete</md-icon>
      </button>

      <button md-mini-fab mdTooltip="Add new item" #addItemTooltip
        (click)="promptAddItem($event)"
        type="button">
        <md-icon>add</md-icon>
      </button>
    </div>
  </div>

  <div *ngIf="isInEditMode && isExpanded">
    <form novalidate [formGroup]="changeCategoryForm" (ngSubmit)="saveCategoryName()">
      <md-input-container>
        <input mdInput formControlName="newName" type="text" (click)="$event.stopPropagation()" placeholder="">
      </md-input-container>

      <button md-mini-fab type="submit" (click)="$event.stopPropagation()">
        <md-icon>check</md-icon>
      </button>

      <button md-mini-fab (click)="toggleEditCategory($event)" type="button">
        <md-icon>clear</md-icon>
      </button>
    </form>
  </div>
</div>
