<div fxLayout fxLayoutAlign="start center">
  <div *ngIf="!isInEditMode" fxLayout fxLayoutAlign="start center" class="ml-10">
    <span class="category-name" [innerHTML]="category.name | capitalize | highlight: searchFor"></span>

    <div *ngIf="isExpanded" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-mini-fab matTooltip="Edit category name"
        (click)="toggleEditCategory($event)"
        type="button">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="Delete category"
        (click)="promptDelete($event)"
        type="button">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="Add new item" #addItemTooltip
        (click)="promptAddItem($event)"
        type="button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="isInEditMode && isExpanded">
    <form novalidate [formGroup]="changeCategoryForm" (ngSubmit)="saveCategoryName()" fxLayoutGap="10px">
      <mat-form-field>
        <input matInput formControlName="newName" type="text" (click)="$event.stopPropagation()" placeholder="">
      </mat-form-field>

      <button mat-mini-fab type="submit" (click)="$event.stopPropagation()">
        <mat-icon>check</mat-icon>
      </button>

      <button mat-mini-fab (click)="toggleEditCategory($event)" type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </form>
  </div>
</div>
