<div
  class="visible-password pointer"
  *ngIf="isPasswordShown$ | async; else starsTemplate"
  [matTooltip]="password"
  ngxClipboard
  [cbContent]="password"
  (cbOnSuccess)="copied.emit()"
>
  {{ password }}
</div>

<ng-template #starsTemplate>
  <div
    ngxClipboard
    [cbContent]="password"
    (cbOnSuccess)="copied.emit()"
    class="pointer"
  >
    *****
  </div>
</ng-template>

<span class="icon-wrapper">
  <button mat-icon-button type="button" (click)="toggleVisibility()">
    <mat-icon>{{ iconName$ | async }}</mat-icon>
  </button>
</span>
