.pointer {
  cursor: pointer;
}

.visible-password {
  width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;

  @media (max-width: 600px) {
    display: contents;
  }
}

.icon-wrapper {
  position: absolute;
  right: -0.4em;
  top: 8px;

  @media (max-width: 600px) {
    top: 0;
  }

  button.mat-icon-button {
    $icon-height: 20px;

    height: $icon-height;
    line-height: $icon-height;

    .mat-icon {
      height: $icon-height;
      line-height: $icon-height;
    }
  }
}
