$highlight-color: #fff6d0;

:host {
  padding: 5px 0;

  &:hover {
    background: $highlight-color;
  }
}

[ngxClipboard] {
  cursor: pointer;
  line-height: 24px;

  &:hover {
    background: darken($highlight-color, 10);
  }
}

.cell {
  a {
    &:visited,
    &:link,
    &:active {
      color: #00e;
      text-decoration: none;
    }

    &:hover {
      background-color: #212121;
      color: #fefefe;
    }
  }
}
