<td data-th="Name:" class="cell">
  <a *ngIf="item.url" [href]="item.url" target="_blank" [mdTooltip]="item.name">{{item.name}}</a>
  <span *ngIf="!item.url">{{item.name}}</span>
</td>

<td data-th="Account:" ngxClipboard [cbContent]="item.account" (cbOnSuccess)="copied()" class="cell" [mdTooltip]="item.account">
  {{item.account}}
</td>

<td data-th="Username:" ngxClipboard [cbContent]="item.username" (cbOnSuccess)="copied()" class="cell" [mdTooltip]="item.username">
  {{item.username}}
</td>

<td data-th="Password:" ngxClipboard [cbContent]="item.password" (cbOnSuccess)="copied()" class="cell" [mdTooltip]="item.password">
  {{item.password}}
</td>

<td data-th="Blob:" ngxClipboard [cbContent]="item.blob" (cbOnSuccess)="copied()" class="cell" [mdTooltip]="item.blob">
  {{item.blob}}
</td>

<td fxFlex="70px" fxLayout fxLayoutGap="10px">
  <button md-mini-fab md-tooltip="Edit item"
    (click)="promptEdit()"
    type="button">
    <md-icon>edit</md-icon>
  </button>

  <button md-mini-fab md-tooltip="Delete item"
    (click)="promptDelete()"
    type="button">
    <md-icon>delete</md-icon>
  </button>
</td>
