<td data-th="Name:" class="cell">
  <a
    *ngIf="item.url"
    [href]="item.url"
    target="_blank"
    ngxClipboard
    [cbContent]="item.password!"
    [matTooltip]="item.name!"
    [matTooltipDisabled]="!item.name"
    [innerHTML]="item.name | highlight : searchFor"
  >
  </a>
  <span
    *ngIf="!item.url"
    [innerHTML]="item.name | highlight : searchFor"
  ></span>
</td>

<td
  data-th="Account:"
  ngxClipboard
  [cbContent]="item.account!"
  (cbOnSuccess)="copied()"
  class="cell"
  [matTooltip]="item.account!"
  [matTooltipDisabled]="!item.account"
>
  {{ item.account }}
</td>

<td
  data-th="Username:"
  ngxClipboard
  [cbContent]="item.username!"
  (cbOnSuccess)="copied()"
  class="cell"
  [matTooltip]="item.username!"
  [matTooltipDisabled]="!item.username"
>
  {{ item.username }}
</td>

<td data-th="Password:" class="cell relative">
  <app-show-hide-password
    [password]="item.password!"
    (copied)="copied()"
  ></app-show-hide-password>
</td>

<td
  data-th="Blob:"
  ngxClipboard
  [cbContent]="item.blob!"
  (cbOnSuccess)="copied()"
  class="cell no-overflow"
  [matTooltip]="item.blob!"
  [matTooltipDisabled]="!item.blob"
>
  {{ item.blob }}
</td>

<td class="!flex gap-2">
  <button
    mat-mini-fab
    matTooltip="Edit item"
    (click)="promptEdit()"
    type="button"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <button
    mat-mini-fab
    matTooltip="Delete item"
    (click)="promptDelete()"
    type="button"
  >
    <mat-icon>delete</mat-icon>
  </button>
</td>
