@import '~@angular/material/_theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$config: mat-typography-config();
$mat-font-family: mat-font-family($config);

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $mat-font-family;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/icons/MaterialIcons-Regular.woff) format('woff'),
       url(assets/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// sass-lint:disable force-attribute-nesting
button.mat-mini-fab {
  height: 30px;
  width: 30px;

  .mat-button-wrapper {
    padding: 0;
  }

  mat-icon {
    font-size: 18px;
  }
}

[val-message] {
  color: red;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlighted {
  font-weight: bold;
  background-color: #ffd740;
  padding: 1px 2px;
  border-radius: 4px;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 0.5rem;
}
